<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OVPRCommitment" connectionString="Data Source=zzzzzzzzzzzzAMSDBFIX.cam.uchc.edu;Initial Catalog=OVPRCommitment;User ID=ResearchApp;Password= Aw@rdMgmtApp!" providerName="System.Data.SqlClient" />

  </connectionStrings>
</configuration>