<table class="grid" *ngIf="selectedProposal !=null">
  <tr>
    <td>
      InfoEd ID
    </td>
    <td>
      {{selectedProposal.ProposalNumber}}
    </td>
  </tr>
  <tr>
    <td>
        InfoEd Name
    </td>
    <td>
      {{selectedProposal.Title}}
    </td>
  </tr>
  <tr>
  <tr>
    <td>
      Type
    </td>
    <td>
      {{selectedProposal.PROP_Type}}
    </td>
  </tr>
  <tr>
    <td>
      Status
    </td>
    <td>
      {{selectedProposal.PROP_Status}}
    </td>
  </tr>
  <tr>
    <td>
      Start Date
    </td>
    <td>
      {{selectedProposal.ProjectStartDate}}
    </td>
  </tr>
  <tr>
    <td>
      End Date
    </td>
    <td>
      {{selectedProposal.ProjectEndDate}}
    </td>
  </tr>
  <tr>
    <td>
      Orginal. Dept Name
    </td>
    <td>
      {{selectedProposal.OriginalDeptName}}
    </td>
  </tr>
  <tr>
    <td>
      Orginal. Sponsor Name
    </td>
    <td>
      {{selectedProposal.OriginalSponsorName}}
    </td>
  </tr>
  <tr>
    <td>
      Orginal. Pi Name
    </td>
    <td>
      {{selectedProposal.OriginalPiName}}
    </td>
  </tr>
  <tr>
    <td>
      CorrDeptCode
    </td>
    <td>
      {{selectedProposal.CorrectedDeptCode}}
    </td>
  </tr>
  <tr>
    <td>
      Corrected Dept. Name
    </td>
    <td>
      {{selectedProposal.CorrectedDeptName}}
    </td>
  </tr>
  <tr>
    <td>
      Corrected School Name
    </td>
    <td>
      {{selectedProposal.CorrectDeptSchoolName}}
    </td>
  </tr>
  <tr>
    <td>
      Corrected Sponsor Code
    </td>
    <td>
      {{selectedProposal.CorrectedSponsorCode}}
    </td>

  </tr>
  <tr>
    <td>
      Corrected Sponsor Name
    </td>
    <td>
      {{selectedProposal.CorrectedSponsorName}}
    </td>
  </tr>

  <tr>
    <td>
      Corrected Pi Name
    </td>
    <td>

      {{selectedProposal.CorrectedPiName}}
    </td>
  </tr>

</table>